<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-del-projecto-equipo175-rva-a01378921-rrm-a01793108/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Materia: Ciencia y analítica de datos

Nombre del alumno: Roberto Vega Alanis

Matrícula: A01378921

# Módulo 1

## Your First Program

In [ ]:
# This is a comment example: print Hello Python 101 
print('Hello Python 101')

Hello Python 101

In [ ]:
# Questinon 1: Using the Practice Lab, find the result of executing print("Hello\nWorld!") statement.
print("Hello\nWorld!")

Hello
World!

In [ ]:
# Question 2: What is the output of executing the following statement: # print('Hello World!')?
# print('Hello World!')
# There is no output as it is a comment

## Types

In [ ]:
# Question 1: What is the type of the following: int(1.0)?
type(int(1.0))

int

In [ ]:
# Question 2: Enter the code to convert the number 1 to a Boolean.
bool(1)

True

In [ ]:
# Discussion: My contribution

"""
bool() effect in numbers
discusión publicada hace hace menos de un minuto por Rob-Vega

Note the following; bool() function will always be True for any int or number except for 0:

bool(10) --> True

bool(1.1) --> True

bool(-10) --> True

bool(-1.1) --> True

bool(0) --> True
"""

'\nbool() effect in numbers\ndiscusión publicada hace hace menos de un minuto por Rob-Vega\n\nNote the following; bool() function will always be True for any int or number except for 0:\n\nbool(10) --> True\n\nbool(1.1) --> True\n\nbool(-10) --> True\n\nbool(-1.1) --> True\n\nbool(0) --> True\n'

## Expressions and Variables

Expression = operation
oreand:numbers 
operators: + - * % /

// = int division

Operation orders

Variables --> to assign values to n object

use a meaninful name for variables

## String Operations


\ escape sequences
r to cnsider the backslash as an element

Sequence methods:

String methods:

upper()

replace(target,replace_element)

find(substring) --> first index of the substr in string

In [ ]:
# Question 1: 
"""
Consider the following string:

Numbers = "0123456"
How would you obtain the even elements?
"""
Numbers = "0123456"
Numbers[::2]

'0246'

Note: if .find() is not able to find the vaue it retreives -1

If you want to print a back slash with r you must leava a space after the \ (or any other character)

In [ ]:
Numbers[1::2]

'135'

## Review Questions

In [ ]:
# Question 1: What is the result of the following operation in Python:

3 + 2 * 2

7

In [ ]:
# Question 2: In Python, if you executed name = 'Lizz', what would be the output of print(name[0:2])?
name = 'Lizz'
name[0:2]

'Li'

In [ ]:
# Question 3: In Python, if you executed var = '01234567', what would be the result of print(var[::2])?
var = '01234567'
print(var[::2])

0246

In [ ]:
# QUestion 4: In Python, what is the result of the following operation '1'+'2'?
'1' + '2'

'12'

In [ ]:
# Question 5: Given myvar = 'hello', how would you convert myvar into uppercase?
myvar = 'hello'
myvar.upper()

'HELLO'

# Módulo 2

## List and Tuples

Compound objects

Tuple:
* can have heterogeneous elements
* SELECT the last element x[-1] OR 
* slicing
* len()
* immutable --> we cannot hange them: x[2] = 1 WRONG!
* nesting: x[1][2][3] and so on...

Lists:
* CAN have HETEROGENEOUS elements
* mutable --> we cannot hange them: x[2] = 1 CORRECT!
  * .extend --> adds elements of a list at th end of another
  * .append --> adds lists or whatever be included as a new element of the first list
  * del(x[n]) --> deletes the element
* .split("<delimiter>") --> string to list
* Referencing the same object: aliasing
A = B, if change A, we change B as a side effect
* Copy: B = A[:]

In [ ]:
# Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.
A=(0,1,2,3)

A[-1]
A[3]

3

In [ ]:
# Question 2:
"""
Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?
"""

B=["a","b","c"]
B[1:]

['b', 'c']

## Sets

Sets:
* are type of collections
* UNORDERED
* only UNIQUE elements
* {}
* you can input a list and it will delete duplicates
* .add(<element>) --> add a new element
* .remove(<element>) --> remove element
* in --> evaluates if an item is in the set
* INTERSECTION of sets: &
* UNION of sets: .union()
* SUBSET: issubset() --> (1 is subset of 2)

ALL operations have MEMORY!!! (no assign is needed,

i.e x = x.add('z') WRONG!!!

x.add('z') CORRECT!))

In [ ]:
# Question 1: What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

In [ ]:
# Question 2: What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

S & U

{'A', 'C'}

## Dictionaries

* type of collection
* has keys and values
* {key:value}  (ALWAYS: 1st (at left) keys, 2nd (at right) values)
  * key is IMMUTABLE
* x[key] --> value
* create: x[new_key] = value
* in searches for KEYS
* x.keys()
* x.values()

In [ ]:
# Question 1: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()?
"""
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [ ]:
# Question 2: 
"""
Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?
"""
D = {'a':0,'b':1,'c':2}
D['b']

1

## Review Questions

In [ ]:
# Question 1: What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')
A[0]

'a'

In [ ]:
# Question 2: After applying the following method, L.append(['a','b']), the following list will only be one element longer.
True

True

In [ ]:
# Question 3: How many duplicate elements can you have in a set?
print('0. You can only have one unique element in a set.')

0. You can only have one unique element in a set.

In [ ]:
# Question 4:
"""
Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?
"""

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict['D']

(4, 4, 4)

In [ ]:
# Question 5: What is an important difference between lists and tuples?
print('Lists are mutable, tuples are not.')

Lists are mutable, tuples are not.

#Módulo 3

##Conditions and Brancing

Copmparison Operators
Result is a bool
* ==
* \>
* \>=
* !=

Can be used for numbers and strings

Branching
* if ---> code just executed if condition is True, then continue
* if else --> 1 code just executed if condition is True, ese other one is executed
* elseif --> allows tp check additional conditions if the preceeding condition is false. ALLOWS to execuet an especial condition ONLY if 1st condition is FALSE and teh elif is TRUE

Logic operators
bool --> bool
* not
* or
* and

In [ ]:
# Question 1: Select the values of i that produces a True for the following:

# i != 0

#1
#-1
#100000000

In [ ]:
# Question 2: What is the output of the following:

x='a'

if(x!='a'):

  print("This is not a.")

else:

  print("This is a.")

This is a.

## Loops

range()
* range(#) --> if +, sequence generates number from 0 to #
* range(m,n) --> if n > m, list m to n-1
* Python 3 WON't create EXPLICITLY the list
*NOTE: if you want to make backwards count you must include -1 as a 3rd parameter

---

for
* loop a certain amount of times (until all elements of iterable are finished)
* performs a task over and over
* applicable to itarate tuples, lists
** enumerate --> adds an index to elements of a list

---

while
* loop only while a condition is met
* condition variable should me modified inside the while loop

In [ ]:
# Personal test of range
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Question 1: What is the output of the following lines of code:

A=[3,4,5]

for a in A:

  print(a)

3
4
5

In [ ]:
# Question 2: What is the output of the following lines of code:

x=3

y=1

while(y!=x):

  print(y)

  y=y+1

1
2

## Functions

Piece of code that can be called many times

Built-in funcitons:
* len --> # of elements of an object (string, list, typle, set)
* sort --> sorted(list) --> CREATES a NEW list
* sorted --> list.sort() MODIFIES existing list


---

How to create our own function:

def func_name(attribute):
  
  """
  documentation
  """

  \<actions>

  return output

---

Multiple parameters:

def func(parameter1, parameter2):
  return out1, out 2

---

Useless function:

def func():
  
  pass

---

Collecting arguments: *arg
* allows a VARIABLE # of elements

---
Scope of a variable
It is the part of the code WHERE VARIABLE is ACESSIBLE
* GLOBAL --> variable accessible everywhere (defined OUTSIDE EVERYTHING)
* LOCAL --> INSIDE a function (they die when function finishes)
* Variables inside the global scope can have the same name as variables in the local scope with no conflict.
* "If a variable is not defined within a function, Python will check the global scope."
* global var --> allows you to CREATE/MODIFY GLOBAL variables INSIDE a function

In [ ]:
# Test of the notes
def add(x):
  y = x+1
  return y

x = 1
y = add(x)


print(x,y)

1 2

In [ ]:
# Test of the notes
def add(ñ):
  global x
  x = 3
  y = x+ñ
  return y

x = 1
y = add(x)


print(x,y)

3 4

In [ ]:
# Questin 1: What is the value of c after the following block of code is run ?

a=1

def add(b):

  return a+b

c=add(10)
c

11

In [ ]:
# Question 2: What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

 return sum(x)

# Return the total of a variable amount of parameters.

## Object and Classes

Python has many data types:
* int
* float
* string
* list
* dictionary
* bool

== object, whi has:
* type
* blueprint (internal data representation)
* methods (procedures)

An OBJECT is an INSTANCE of a TYPE

type() --> tells you object type

---

Method == FUNCTION that every instance hav in coomon
it is HOW yo interact with data


---
Defining classes
* class class_name(parent_class): # class definition
* Attributes:

  def \__init__(self,radius,color): #attributes used to ninitialize the instance of the class

    >self.radius = radius;
    
    >self.color = color;

* \__init__ == constructur == special function that TELLS Python you are CREATINGa NEW CLASS.
* self == referst to the newly created INSTANCE of the CLASS == box containing all ATTRIBUTES of the object
* changing attribute object.attribute_name = value

---
Methods

Functions that interact with attributes (changing/using them)

def add_radius(self,r):
  > self.radius = self.radius + r

  > return (slef.radius)

  ---

  dir() --> name methods & attributes of a class

In [ ]:
# Question 1: Using the Class Car in the lab, create a Car object with the following attributes:

make="Honda"

model="Accord"

color="blue"

# Unable to open this particular lab

In [ ]:
# Question 2: From the lab, how would you change the data attribute owner_number ?

# Unable to open this particular lab

###Lab: Class creation

You have been recruited by your friend, a linguistics enthusiast, to create a utility tool that can perform analysis on a given piece of text. Complete the class
'analysedText' with the following methods -

<ul>
    <li> Constructor (__init__) - This method should take the argument <code>text</code>, make it lower case, and remove all punctuation.  Assume only the following punctuation is used: period (.), exclamation mark (!), comma (,) and question mark (?). Assign this newly formatted text to a new attribute called <code>fmtText</code>.
    <li> freqAll - This method should create and <strong>return</strong> dictionary of all unique words in the text, along with the number of times they occur in the text. Each key in the dictionary should be the unique word appearing in the text and the associated value should be the number of times it occurs in the text. Create this dictionary from the <code>fmtText</code> attribute.
    <li> freqOf - This method should take a word as an argument and <strong>return</strong> the number of occurrences of that word in <code>fmtText</code>.
</ul>
 The skeleton code has been given to you. Docstrings can be ignored for the purpose of the exercise. <br>
 <i> Hint: Some useful functions are <code>replace()</code>, <code>lower()</code>, <code>split()</code>, <code>count()</code> </i><br>

In [ ]:
# Function I created
class analysedText(object):
    
    def __init__ (self, text):
        
        self.fmtText = text.lower().replace('.','').replace(',','').replace('?','').replace('!','')

        # TODO: Remove the punctuation from <text> and make it lower case.
        

        # TODO: Assign the formatted text to a new attribute called "fmtText"
        
        pass 
    
    def freqAll(self):    

        # TODO: Split the text into a list of words
        list = self.fmtText.split(' ')

        # TODO: Create a dictionary with the unique words in the text as keys
        unique = set(list)
        
        # and the number of times they occur in the text as values
        dict = {x:list.count(x) for x in unique}
        
        return dict # return the created dictionary
    
    def freqOf(self, word):
        dict = self.freqAll()
        # TODO: return the number of occurrences of <word> in <fmtText>
        if word in dict:
            y = dict[word]
        else:
            y = 0
            
        return y

### Lab: Exception handling

Examples:
* ZeroDivisionError occurs when you try to divide by zero.
* NameError -- in this case, it means that you tried to use the variable a when it was not defined.
Try-except:
* 
Specific try-except:
* allows you to catch certain exceptions and also execute certain code depending on the exception.
* hamdling 2 type of errors the same way: except (ZeroDivisionError, NameError):
* you can also have an empty except at the end to catch an unexpected exception:
* else allows one to check if there was no exception when executing the try block. This is useful when we want to execute something only if there were no errors.
* finally allows us to always execute something even if there is an exception or not. This is usually used to signify the end of the try except.

## Review Questions

In [ ]:
# Question 1: What is the output of the following lines of code:

x=1

if(x!=1):

  print('Hello')

else:

  print('Hi')

print('Mike')

Hi
Mike

In [ ]:
# Question 2: What is the output of the following few lines of code?

A = ['1','2','3']

for a in A:

  print(2*a)

11
22
33

In [ ]:
# Question 3: Consider the function Delta, when will the function return a value of 1

def Delta(x):

  if x==0:

    y=1;

  else:

    y=0;

  return(y)

print(Delta(0))

1

In [ ]:
# Question 4: What is the correct way to sort the list 'B' using a method? The result should not return a new list, just change the list 'B'.

#B.sort()

In [ ]:
# Question 5: What are the keys of the following dictionary: {'a':1,'b':2}?
#a,b

# Módulo 4

## Reading Files with Open

Objective: write & read txt file
* open function: open("filepath/filename","<\<mode>>")
> * mode: r = reading, w = writing, a = apending, wb = web page
*  Attrributes:

  > .name --> get name of file

  > .mode --> get the mode of the file
    > .closed

* ALWAYS have to close the file at the END: <file>.close()

* Alterative: with open("\<filepath>/\<filename>","<\<mode>>") as \<alias>:
> It runs all inside tyhe indent after the with statement and close when finishes

* .read() --> stores the content in a file

* redlines(n) --> output every lien as an element of a list (IT IS AN ITERATOR)
> Args: n = number of characters to read AS a line. IT WILL retreive the folowing set of characters after the last readlines call

### Lab Reading Files Python

In [ ]:
import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
# Código sustituido por read_csv para simpificar carga de archivo
"""
from pyodide.http import pyfetch
import pandas as pd



async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "Example1.txt")
"""

'\nfrom pyodide.http import pyfetch\nimport pandas as pd\n\n\n\nasync def download(url, filename):\n    response = await pyfetch(url)\n    if response.status == 200:\n        with open(filename, "wb") as f:\n            f.write(await response.bytes())\n\n\nawait download(filename, "Example1.txt")\n'

In [ ]:
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt"

df = pd.read_csv(filename)

In [ ]:
df

  This is line 1
0  This is line 2
1  This is line 3

<h2 id="read">Reading Text Files</h2>

One way to read or write a file in Python is to use the built-in <code>open</code> function. The <code>open</code> function provides a **File object** that contains the methods and attributes you need in order to read, save, and manipulate the file. In this notebook, we will only cover **.txt** files. The first parameter you need is the file path and the file name. An example is shown as follow:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadOpen.png" width="500" />

The mode argument is optional and the default value is r. In this notebook we only cover two modes:

**r**: Read mode for reading files
**w**: Write mode for writing files

For the next example, we will use the text file **Example1.txt**. The file is shown as follows:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadFile.png" width="100" />

We read the file:

In [ ]:
# Read the Example1.txt
example1 = "Example1.txt"
file1 = open(example1, "r")

We can view the attributes of the file.

The name of the file:

In [ ]:
# Print the path of file

file1.name

'Example1.txt'

The mode the file object is in:

In [ ]:
file1.mode

'r'

We can read the file and assign it to a variable :

In [ ]:
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

The **/n** means that there is a new line.

We can print the file:

In [ ]:
# Print the file with '\n' as a new line

print(FileContent)

The file is of type string:

In [ ]:
# Type of file content

type(FileContent)

str

It is very important that the file is closed in the end. This frees up resources and ensures consistency across different python versions.

In [ ]:
# Close file after finish

file1.close()

<h2 id="better">A Better Way to Open a File</h2>

Using the <code>with</code> statement is better practice, it automatically closes the file even if the code encounters an exception. The code will run everything in the indent block then close the file object.

In [ ]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

The file object is closed, you can verify it by running the following cell:

In [ ]:
# Verify if the file is closed

file1.closed

True

We can see the info in the file:

In [ ]:
# See the content of file

print(FileContent)

The syntax is a little confusing as the file object is after the <code>as</code> statement. We also don’t explicitly close the file. Therefore we summarize the steps in a figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/ReadWith.png" width="500" />

We don’t have to read the entire file, for example, we can read the first 4 characters by entering three as a parameter to the method **.read()**:

In [ ]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

This

Once the method <code>.read(4)</code> is called the first 4 characters are called. If we call the method again, the next 4 characters are called. The output for the following cell will demonstrate the process for different inputs to the method <code>read()</code>:

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

The process is illustrated in the below figure, and each color represents the part of the file read after the method <code>read()</code> is called:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/read.png" width="500" />

Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:

In [ ]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

We can also pass an argument to <code> readline() </code> to specify the number of charecters we want to read. However, unlike <code> read()</code>, <code> readline()</code> can only read one line at most.

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

We can use a loop to iterate through each line:

In [ ]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

We can use the method <code>readlines()</code> to save the text file to a list:

In [ ]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

Each element of the list corresponds to a line of text:

In [ ]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [ ]:
# Print the second line

FileasList[1]

'This is line 2\n'

In [ ]:
# Print the third line

FileasList[2]

'This is line 3'

## Writing Files with Open

* Create a file: open("filepath/filename","w") if you AD data with this YOU WILL DELETE TEH ORIGINAL FILE
* write a line in file file_object.write("New line content")
* open("filepath/filename","a") WILL NOT create a NEW file, just add lines
* Copy a file int another:

    with open("Example1.txt","r") as readfile:
        with open (Example3.txt","w") as writefile:
          for line in readfile:
            writefile.write(line)

---
Additional modes:
+ r+ : Reading and writing. Cannot truncate the file.
+ w+ : Writing and reading. Truncates the file.
+ a+ : Appending and Reading. Creates a new file, if none exists.

---
* read() and write() work at a certain location of the file
* openning with w is like: open, put cursor at the beginning , delete all
* Methods to tell where is the cursor:
  * tell() return current position in bytes
  * seek(offset,from)  CHANGES the current position offset bytes from reference (current position, 0,1,2,3,-1...)
* To work with a file on existing data, use r+ and a+.
  * r+ has .truncate() to DELETE everything AFTER the cursor position

### Lab: Write and Save Files in Python

<h2 id="write">Writing Files</h2>

We can open a file object using the method <code>write()</code> to save the text file to a list. To write to a file, the mode argument must be set to **w**. Let’s write a file **Example2.txt** with the line: **“This is line A”**

In [ ]:
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

We can read the file to see if it worked:

In [ ]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

We can write multiple lines:

In [ ]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

The method <code>.write()</code> works similar to the method <code>.readline()</code>, except instead of reading a new line it writes a new line. The process is illustrated in the figure. The different colour coding of the grid represents a new line added to the file after each method call.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/WriteLine.png" width="500" />

You can check the file to see if your results are correct

In [ ]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

We write a list to a **.txt** file  as follows:

In [ ]:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [ ]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

We can verify the file is written by reading it and printing out the values:

In [ ]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

However, note that setting the mode to **w** overwrites all the existing data in the file.

In [ ]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

<hr>
<h2 id="add">Additional modes</h2>

It's fairly ineffecient to open the file in **a** or **w** and then reopening it in **r** to read any lines. Luckily we can access the file in the following modes:

*   **r+** : Reading and writing. Cannot truncate the file.
*   **w+** : Writing and reading. Truncates the file.
*   **a+** : Appending and Reading. Creates a new file, if none exists.

You dont have to dwell on the specifics of each mode for this lab.

Let's try out the **a+** mode:

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

There were no errors but <code>read()</code> also did not output anything. This is because of our location in the file.

Most of the file methods we've looked at work in a certain location in the file. <code>.write() </code> writes at a certain location in the file. <code>.read()</code> reads at a certain location in the file and so on. You can think of this as moving your pointer around in the notepad to make changes at specific location.

Opening the file in **w** is akin to opening the .txt file, moving your cursor to the beginning of the text file, writing new text and deleting everything that follows.
Whereas opening the file in **a** is similiar to opening the .txt file, moving your cursor to the very end and then adding the new pieces of text. <br>
It is often very useful to know where the 'cursor' is in a file and be able to control it. The following methods allow us to do precisely this -

*   <code>.tell()</code> - returns the current position in bytes
*   <code>.seek(offset,from)</code> - changes the position by 'offset' bytes with respect to 'from'. From can take the value of 0,1,2 corresponding to beginning, relative to current position and end

Now lets revisit **a+**

In [ ]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 25
Read nothing

New Location : 0
Overwrite
This is line E

Location after read: 25

Finally, a note on the difference between **w+** and **r+**. Both of these modes allow access to read and write methods, however, opening a file in **w+** overwrites it and deletes all pre-existing data. <br>
To work with a file on existing data, use **r+** and **a+**. While using **r+**, it can be useful to add a <code>.truncate()</code> method at the end of your data. This will reduce the file to your data and delete everything that follows. <br>
In the following code block, Run the code as it is first and then run it with the <code>.truncate()</code>.

In [ ]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

<h2 id="copy">Copy a File</h2>

Let's copy the file **Example2.txt** to the file **Example3.txt**:

In [ ]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

We can read the file to see if everything works:

In [ ]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished

After reading files, we can also write data into files and save them in different file formats like **.txt, .csv, .xls (for excel files) etc**. You will come across these in further examples

**NOTE:** If you wish to open and view the `example3.txt` file, download this lab [here](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/PY0101EN-4-2-WriteFile.ipynb) and run it locally on your machine. Then go to the working directory to ensure the `example3.txt` file exists and contains the summary data that we wrote.

Excercise:

Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.

In [ ]:
# Excercise:
"""
Your local university's Raptors fan club maintains a register of its active members on a .txt document. Every month they update the file by removing the members who are not active. You have been tasked with automating this with your Python skills.
Given the file currentMem, Remove each member with a 'no' in their Active column. Keep track of each of the removed members and append them to the exMem file. Make sure that the format of the original files in preserved. (Hint: Do this by reading/writing whole lines and ensuring the header remains )
Run the code block below prior to starting the exercise. The skeleton code has been provided for you. Edit only the cleanFiles function.
"""

In [ ]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

Now that you've run the prerequisite code cell above, which prepared the files for this exercise, you are ready to move on to the implementation.

Exercise: Implement the cleanFiles function in the code cell below.

In [ ]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    """
    # TODO: Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as readfile:
        #TODO: Open the exMem file in a+ mode
          with open(exMem, 'a+') as writefile:

        #TODO: Read each member in the currentMem (1 member per row) file into a list.
            count = 0
            for line in readfile.readlines():
              l = line.split()
              if "no" in l[2]:
                writefile.write(line)
              else:
                count += 1
                readfile.write(line)

            
          readfile.seek(0,0)
          readfile.writelines(readfile.readlines()[len(readfile.readlines())-count:])
          readfile.truncate() 
            
        # Hint: Recall that the first line in the file is the header.

        #TODO: iterate through the members and create a new list of the innactive members

        # Go to the beginning of the currentMem file
        # TODO: Iterate through the members list. 
        # If a member is inactive, add them to exMem, otherwise write them into currentMem
        """
    with open(currentMem,'r+') as writeFile: 
      with open(exMem,'a+') as appendFile:
          #get the data
          writeFile.seek(0)
          members = writeFile.readlines()
          #remove header
          header = members[0]
          members.pop(0)
              
          inactive = [member for member in members if ('no' in member)]
          '''
          The above is the same as 

          for member in members:
          if 'no' in member:
              inactive.append(member)
          '''
          #go to the beginning of the write file
          writeFile.seek(0) 
          writeFile.write(header)
          for member in members:
              if (member in inactive):
                  appendFile.write(member)
              else:
                  writeFile.write(member)      
          writeFile.truncate()
        
    
    #pass # Remove this line when done implementation


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    80465      2018-4-17    yes
    52839      2017-3-10    yes
    74417      2017-8-20    yes
    86662      2017-6-20    yes
    82823      2015-9-22    yes
    80576      2018-10-15   yes
    61862      2015-9-7     yes
    40344      2015-5-6     yes

Inactive Members:


Membership No  Date Joined  Active
    97691      2018-4-5     no
    66321      2020-2-12    no
    27554      2019-10-7    no
    68093      2016-2-15    no
    81394      2015-8-25    no
    23095      2019-9-9     no
    23567      2015-1-19    no
    11848      2020-8-7     no
    98701      2020-8-3     no
    78288      2020-2-19    no
    57290      2018-4-16    no
    12142      2019-8-7     no
    43628      2015-3-11    no
    24323      2019-10-18   no
    91663      2015-10-18   no

The code cell below is to verify your solution. Please do not modify the code and run it to test your implementation of cleanFiles.

In [ ]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

## Loading Data with Pandas

* import pandas
* pandas.read_csv(csv_path)
* alias import pandas as pd --> pd.read_csv(csv_path)
*pd.read_csv(excel_path)
* pd.read_*** GENERATED a DataFrame= table with rows and columns
* Create a DataFrame form a Dictionary str:[]: pd.DataFrame({'col1':[1,2,3,4,...],'col2':[#,#,#,#,...]})
  * str = headers, [] = rows values
* select a DataFRame column: df[['col1']]
* select multiple columns from DataFrame: df[['col1','col2',...]]
* ix --> SUBSET a DataFrame with NUMBERS & NAMES
  *df.ix[0,0], df.ix[0,'Artist']
  *SLICE: df.ix[:2,'Artist':'Released']

### Lab: Introduction to Pandas in Python

<h2 id="dataset">About the Dataset</h2>

The table has one row for each album and several columns.

<ul>
    <li><b>artist</b>: Name of the artist</li>
    <li><b>album</b>: Name of the album</li>
    <li><b>released_year</b>: Year the album was released</li>
    <li><b>length_min_sec</b>: Length of the album (hours,minutes,seconds)</li>
    <li><b>genre</b>: Genre of the album</li>
    <li><b>music_recording_sales_millions</b>: Music recording sales (millions in USD) on <a href="http://www.song-database.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2022-01-01?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0101ENSkillsNetwork19487395-2021-01-01">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Album's claimed sales (millions in USD) on <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Date on which the album was released</li>
    <li><b>soundtrack</b>: Indicates if the album is the movie soundtrack (Y) or (N)</li>
    <li><b>rating_of_friends</b>: Indicates the rating from your friends from 1 to 10</li>
</ul>

You can see the dataset here:

<font size="1">
<table font-size:xx-small>
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

In [ ]:
# Código que no funciona
"""
# Dependency needed to install file 

# If running the notebook on your machine, else leave it commented
!pip install xlrd

import piplite
await piplite.install(['xlrd','openpyxl'])
"""

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

ModuleNotFoundError: ignored

In [ ]:
# Import required library

import pandas as pd

After the import command, we now have access to a large number of pre-built classes and functions. This assumes the library is installed; in our lab environment all the necessary libraries are installed. One way pandas allows you to work with data is a dataframe. Let's go through the process to go from a comma separated values (<b>.csv</b>) file to a dataframe. This variable <code>csv_path</code> stores the path of the <b>.csv</b>, that is  used as an argument to the <code>read_csv</code> function. The result is stored in the object <code>df</code>, this is a common short form used for a variable referring to a Pandas dataframe.

In [ ]:
# Read data from CSV file

csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

"""
from pyodide.http import pyfetch
import pandas as pd

filename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())


await download(filename, "TopSellingAlbums.csv")
df = pd.read_csv("TopSellingAlbums.csv")
"""

'\nfrom pyodide.http import pyfetch\nimport pandas as pd\n\nfilename = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv"\n\nasync def download(url, filename):\n    response = await pyfetch(url)\n    if response.status == 200:\n        with open(filename, "wb") as f:\n            f.write(await response.bytes())\n\n\nawait download(filename, "TopSellingAlbums.csv")\ndf = pd.read_csv("TopSellingAlbums.csv")\n'

We can use the method <code>head()</code> to examine the first five rows of a dataframe:

In [ ]:
# Print first five rows of the dataframe

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

We use the path of the excel file and the function <code>read_excel</code>. The result is a data frame as before:

In [ ]:
# Read data from Excel File and print the first five rows

xlsx_path = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Datasets/TopSellingAlbums.xlsx'

#await download(xlsx_path, "TopSellingAlbums.xlsx")
df = pd.read_excel(xlsx_path)
df.head()

# Código comentado para hacer funcionar el proceso

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

We can access the column <b>Length</b> and assign it a new dataframe <b>x</b>:

In [ ]:
# Access to the column Length

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

The process is shown in the figure:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgOne.png" width="750" />

<h2 id="data">Viewing Data and Accessing Data</h2>

You can also get a column as a series. You can think of a Pandas series as a 1-D dataframe. Just use one bracket:

In [ ]:
# Get the column as a series

x = df['Length']
x

0    00:42:19
1    00:42:11
2    00:42:49
3    00:57:44
4    00:46:33
5    00:43:08
6    01:15:54
7    00:40:01
Name: Length, dtype: object

You can also get a column as a dataframe. For example, we can assign the column <b>Artist</b>:

In [ ]:
# Get the column as a dataframe

x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

You can do the same thing for multiple columns; we just put the dataframe name, in this case, <code>df</code>, and the name of the multiple column headers enclosed in double brackets. The result is a new dataframe comprised of the specified columns:

In [ ]:
# Access to multiple columns

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

The process is shown in the figure:

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/DataEgTwo.png" width="1100" />

One way to access unique elements is the <code>iloc</code> method, where you can access the 1st row and the 1st column as follows:

In [ ]:
# Access the value on the first row and the first column

df.iloc[0, 0]

'Michael Jackson'

You can access the 2nd row and the 1st column as follows:

In [ ]:
# Access the value on the second row and the first column

df.iloc[1,0]

'AC/DC'

You can access the 1st row and the 3rd column as follows:

In [ ]:
# Access the value on the first row and the third column

df.iloc[0,2]

1982

In [ ]:
# Access the value on the second row and the third column
df.iloc[1,2]

1980

This is shown in the following image

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/2_loc.PNG" width="750" />

You can access the column using the name as well, the following are the same as above:

In [ ]:
# Access the column using the name

df.loc[0, 'Artist']

'Michael Jackson'

In [ ]:
# Access the column using the name

df.loc[1, 'Artist']

'AC/DC'

In [ ]:
# Access the column using the name

df.loc[0, 'Released']

1982

In [ ]:
# Access the column using the name

df.loc[1, 'Released']

1980

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/1_loc.png" width="750" />

You can perform slicing using both the index and the name of the column:

In [ ]:
# Slicing the dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/4_loc.png" width="750" />

In [ ]:
# Slicing the dataframe using name

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/images/3_loc.png" width="750" />

<h2 id="quiz">Quiz on DataFrame</h2>

Use a variable <code>q</code> to store the column <b>Rating</b> as a dataframe

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

Assign the variable <code>q</code> to the dataframe that is made up of the column <b>Released</b> and <b>Artist</b>:

In [ ]:
# Write your code below and press Shift+Enter to execute
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of <code>df</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute
df.iloc[1,2]

1980

Use the following list to convert the dataframe index <code>df</code> to characters and assign it to <code>df_new</code>; find the element corresponding to the row index <code>a</code> and column  <code>'Artist'</code>. Then select the rows <code>a</code> through <code>d</code> for the column  <code>'Artist'</code>

In [ ]:
new_index=['a','b','c','d','e','f','g','h']

df_new = df
df_new.index = new_index
df_new.loc['a':'d','Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

### Questions

In [ ]:
# Question 1: Consider the dataframe df. How would you find the element in the second row and first column?
#df.ix[1,0] or df.iloc[1,0]

In [ ]:
# Question 2: Will the following code run?

import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

## Working with and Saving Data with Pandas

* unique --> get unique values of a column: df['col1'].unique()
* filter: df[df bool condition] Example: df[df[col] > #]
* df.to_csv("\<csv_name>.csv")

In [ ]:
# Question 1: Consider the dataframe: df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

#What type does the following return: df['a']==1 ?
import pandas as pd
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [ ]:
# Question 2: What task does the following method perform: df.to_csv("file.csv")?
# R= Save a dataframe to a csv file.

## Review Questions

In [ ]:
# Question 1: What do the following lines of code do?
"""
with open("Example1.txt","r") as file1:

  FileContent=file1.readlines()

  print(FileContent)

"""
# R= Read the file "Example1.txt".

'\nwith open("Example1.txt","r") as file1:\n\n  FileContent=file1.readlines()\n\n  print(FileContent)\n\n'

In [ ]:
# Question 2: What do the following lines of code do?
"""
with open("Example2.txt","w") as writefile:

  writefile.write("This is line A\n")

  writefile.write("This is line B\n")
"""
# R= Write to the file "Example2.txt".

'\nwith open("Example2.txt","w") as writefile:\n\n  writefile.write("This is line A\n")\n\n  writefile.write("This is line B\n")\n'

In [ ]:
# Question 3: What do the following lines of code do?
"""
with open("Example3.txt","a") as file1:

  file1.write("This is line C\n")
"""
# R= Append the file "Example3.txt".

'\nwith open("Example3.txt","a") as file1:\n\n  file1.write("This is line C\n")\n'

In [ ]:
# Question 4: What is the result of applying the following method df.head() to the dataframe "df"?
# R= Prints the first 5 rows of the dataframe.

## Evidencia de progreso

![image.png]()

# Módulo 5

## Numpy 1D Arrays

Numpy
* for scientific computing
* speed & memory
* basis of pandas

---
* Is similar to a list but...
  * same type of elements (NUMBERS)
* import numpy as np
* Create a numpy array form list: np.array([1,2,3,....])
* type: numpy.ndarray
* dtype --> gives the datatype of elements of array
* Attributes:
  * .size = # of elements
  * .ndim = # dimensions / the rank
  * .shape = tuple of size of each dimension

---

Indexing & Slicing
* 1st element c[0]
* c[1:4] (we don't count te last number)
* MULTIPLE ASSIGNMENT: c[1:3] = 300, 400

---

Basic Operations
* Faster and req less memory
* Vector adition & Substraction u = [1,0], v = [0,1]
  * In lists:

    for n,m zip(u,v):

        z.appen(n+m)

  * Numpy: np.array(u) + np.array(v)
  * Substraction is the mae with negative value
* Scalar multiplication
  * Normal:
    
    for n in u:
    
        z.append(2*n)
  * Numpy: 2*np.array(u)
* Vector multiplication
  * Normal:
    
    for n,m in zip(u,v):
    
        z.append(n*m)
  * Numpy: np.array(u)*np.array(v)

* Dot product = single # = represents HOW similar 2 vectors are
  *np.dot(u,v)
*BROADCASTING: applying an operation to ALL elements of th array
  * u = np.array([1,2,3,4]) --> u+1 --> 2,3,4,5

---
Universal Functions
* mean() --> average
* max() --> larget value
* .pi
*.sin() --> apply sin to each element
* linespace(start, end, num= # samples) --> EVENLY SPACED numbers inside an interval
* import matplotlib.pyplot as plt
* %matplotlib inline --> display the plot

In [ ]:
# Question 1: What is the result of the following operation: np.array([1,-1])*np.array([1,1])?
import numpy as np
np.array([1,-1])*np.array([1,1])

array([ 1, -1])

In [ ]:
# Question 2: What is the result of the following operation: np.dot(np.array([1,-1]),np.array([1,1]))?
np.dot(np.array([1,-1]),np.array([1,1]))

0

### Lab

In [ ]:
a = np.array([0, 1, 2, 3, 4])

In [ ]:
type(a)

numpy.ndarray

In [ ]:
a.dtype

dtype('int64')

## Numpy 2D Arrays

* Obj:
  * basics ans array creation (2D)
  *indexing & slicing
  * basic operations

2D array == list of lists (all elements the same size)
  * inner lists = rows
  * outer = lists columns

Attributes:
  *.ndim : attribute -> # axis = # dimensions = rank = # nested lists
  * shape: size of nested lists
  * size = total # of elements

Slicing:
* A[row #][column #]
* A[row #,column #]
* A [#:#,#] --> BRINGS an ARRAY (not a single value)

Operations:
* They are made between ELEMENTS in the SAME position
* +, *# works as 1D array (or maatrix operations)
* Multiplication of 2 arrays (SAME as other operations)
* MATRIX MULTIPLICATION: Dot product of all combinations of rows and columns of 2 arrays (Condition: 1st array # cols == 2nd array # crows)


* Transpose: a.T

In [ ]:
# Question 1: How many rows are in the following numpy array?

import numpy as np
A = np.array([[1,2],[3,4],[5,6],[7,8]])

A.shape

# Answer: 4

(4, 2)

In [ ]:
# Question 2: Is it possible to perform the following operation?

A = np.array([[1,2],[3,4],[5,6],[7,8]])

B = np.array([[1,2,3],[4,5,6],[7,8,9]])

#np.dot(A,B)

# answer: No

## Simple APIs - Part 1

API = Application Program Interface
* It is a program to communicate 2 programs
* Ex. pandas, it is aprogram not even in Python, you create an instance, send it to pandas code and brings back calculated result
* REST APIs --> communicate with WEB services
* REpresntational State Transfer* Rules in 
  1. Communication
  2. INPUT (Request)
  3. OUTPUT (Response)

* Client send Inputs, Resource sends outputs
* HTTP methods --> way to TRANSMIT DATA through INTERNET
  * Request (json (dict))
  * Web service makes OPERATION
  * Response (json (dict))

  Practical example:
  * nba_api
  * gets data from nba.com
    * from nba_api.stats.static import teams
    * nbs_teams = teams.get_teams()
    * "id" unique identifier per team --> it generates 1 dict by team
    * join them:
      
      
      def one_dict(list_dict):

        keys = list_dict[0].keys()
        
        out_dict = {key:[] for key in keys}
        
        for dict_ in list_dict:
        
          for key, value in dict_.items():
        
            out_dict[key].append(value)
        
        return out_dict
        


* from nba_api.stats.endpoints import leaguegamefinder
  * leaguegamefinder.LeagueGameFinder(team_id_nullable = id_warrios)
  * get_data_frames()

## Simple APIs - Part 2

API that use some kind of AI!!!
* Watson Text to Speech API --> transcript audio
* Watson language-translator API --> translator

* Send a copy of the input == post request

API keys and endpoints: acces to APIs
* API key == A way to acces API == unique set of characters -> ID & authorize you. Every call with your key is charged!!!! careful!!!
* endpoint == location of the service (like web address)

Watson Speech to text API
* from ibm_watson import SpeechToTextV1
* endpoint depends on the location of the service instance (where the client is requesting)
* s2t= SpeechToTextV1(iam_apikey, url) # key and enpoint url
* with open(filename,mode = 'rb') as x: #'rb' = read in binary
* response = s2t.recognize(audio,content_type) # content_type specifies the type of file loaded
* response.result --> dict
* response.result['results'][0]['alternatives'][0]['transcript'] # why?

Watson Langage Translation
* from ibm_watson import LanguageTranslatorV3
* reqs: key, endpoint url, version
* lt = LanguageTranslatorV3(iam_apikey,url,version)
* lt.list_identifiable_languages().get_result() --> gives the keys needed to select a language
* translation = lt.translate(text,model_id='lang1_cd-lang2_cd')
* result = translation.get_result()
* result['translations'][0]['translation]

## Lab - HTTP and Requests

# Exam

In [ ]:
3+2*2

7

In [ ]:
type(True)

bool

In [ ]:
int(3.2)

3

In [ ]:
A='1234567'
A[1::2]

'246'

In [ ]:
Name="Michael Jackson"
Name.find('el')

5

In [ ]:
# 9
A=((11,12),[21,22])
A[1]

[21, 22]

In [ ]:
#11
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [ ]:
# 14
V={'A','B'}
V.add('C')
V

{'A', 'B', 'C'}

In [ ]:
# 15
V={'A','B','C'}
V.add('C')
V

{'A', 'B', 'C'}

In [2]:
len([21,13,19,3,11,5,18])//2

3

In [4]:
list(range(10,1,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2]

In [5]:
reversed(list(range(1,11)))

In [6]:
import numpy as np
a = np.array([1,2,3,4])
print(a[[False,True,False,False]])

[2]

In [7]:
number = 3
print(f"The number is {number}")

The number is 3